<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
    <h1><%= title %></h1>
    <p>
        Welcome <%= (login ? " back, " + login.name : "to " + title) %>. This is a public accessible page. 
    </p>
    <% if (login) { %>
    <p>
        Your endpoint is: <%= login.eid %>
    </p>
    <% if (login.roles) { %>
    <p>
        You are in roles:
        <ul>
            <% login.roles.forEach(function(r) { %>
            <li>role: <%= r %></li>
            <% }) %>
        </ul>
    </p>
    <% } else { %>
    <p>
        You do not have any role, add roles to the <code>user_roles -&gt; <%= login.id %></code> list of the database file <code>data/database.json</code>.
    </p>
    <% } %>
    <% } %>
    <p>
        Access other pages:
    </p>
    <div class="nav">
        <ul>
            <li>
                <a href="/readme">Readme</a>
            </li>
            <li>
                <a href="/work">Work page</a>
            </li>
            <li>
                <a href="/admin">Administration page</a>
            </li>
            <li>
                <% if (login) { %>
                <a href="/logout">Logout</a>
                <% } else { %>
                <a href="/login">Login</a>
                <% } %>
            </li>
        </ul>
    </div>
</body>
</html>