<h1>一网认证服务使用说明</h1>
<h2>认证各方</h2>
<ul>
    <li>认证提供方：即一网。这里称为“甲方”。</li>
    <li>认证客户方：即具体使用甲方认证信息并对外提供增值业务的服务方。这里成为“乙方”。</li>
    <li>终端客户方：即使用乙方应用且需要认证的终端用户。</li>
</ul>
<h2>认证内容</h2>
<p>
    一网除了提供用户身份认证外，还自动提供用户经认证的（应用）端点信息，等效于双因子认证。乙方可以充分利用这些信息提供基于<strong>身份</strong>、<strong>角色</strong>、<strong>端点</strong>以及将它们综合应用的精细和安全的访问控制服务，来体现自己的竞争力。所提供的本演示系统可以提供基于<strong>角色</strong>和<strong>端点</strong>黑白名单的访问控制。
</p>
<h2>对接任务</h2>
<p>
    就认证这块来说，与甲方对接逻辑主要在乙方的服务端完成。对于为终端客户方开发的应用端来说，一网提供的JavaScript库已经足以完成其任务，无须乙方进一步开发。在服务端，甲方提供基于OAuth2标准的服务接口供乙方使用。甲方还可以提供ASP.NET和node的对接库。其中node版本提供较为详细的说明和功能覆盖，对于基于其它语言的服务端须要乙方根据OAuth2协议和所提供两种库和本应用原型例程自己开发。
</p>
<p>
    node版本的库和应用原型大量使用函数式编程方法和部分ECMAScript 6（Javascript 版本）语法，并基于 
    <a href="https://promisesaplus.com/" target="_blank">Promise/A+</a>（由 <a href="https://github.com/petkaantonov/bluebird" target="_blank">bluebird</a> 实现）规范处理异步操作，可避免在处理复杂（异步）事件回调时传统方法容易导致所谓的“回调地狱”困境，
    使得代码逻辑较为紧凑和清晰。但须要阅读者在这些方面预先了解相关的知识。例如：
</p>
<pre><code>    (...) => { 
        ... 
    }
</code></pre>
<p style="text-indent: 0">
    代表的是函数
</p>
<pre><code>    function (...) {
        ...
    }
</code></pre>
<p style="text-indent: 0">
    等等。
</p>
<h2>有关node版本</h2>
<p>
    以下重点对node版本的库和应用原型进行说明。系统包含三大模块：<strong>应用网站原型</strong>、<strong>OAuth2客户端</strong>以及用户<strong>数据库原型</strong>:
</p>
<ol>
    <li>
        <h3>应用网站原型</h3>
        <p>
            基于 <a href="https://github.com/expressjs/express" target="_blank">express</a> 框架实现。原型可以通过在其根目录中运行
        </p>
<pre><code>&gt;&gt;&nbsp;node app.js
</code></pre>
        <p>
            命令行指令启动。其监听口和IP地址可以在位于 <code>config</code> 目录下的 <code>config.js</code> 配置文件中设置：
        </p>
<pre><code>let config = {
    ip: "... ip address ...",
    port: "... port ...",
    ...
};
</code></pre>
        <p>
            在 <code>express</code> 中所有请求都通过按一定次序排列的"中间件"依次处理完成。所有中间件都具有统一的调用模式的函数处理，即
        </p>
<pre><code>    (request, response, next) => {
        ... 处理请求 ...
    }
</code></pre>
        <p>
            原型应用包含几个页面，分别使用不同的访问控制策略。
        </p>
        <ul>
            <li>
                <strong>Home</strong>页：访问不须要用户认证。
            </li>
            <li>
                <strong>Readme</strong>页：本页。访问不须要用户认证。
            </li>
            <li>
                <p>
                    <strong>Work</strong>页：访问须要用户认证，但所有签入用户都可以访问。访问控制是通过在页面路由脚本（由<code>routes/index.js</code>文件定义）中对相关路由规则添加用户认证中间件完成：
                </p>
<pre><code>    router.get('/work', <span style="color:blue">auth.check()</span>, (req, res) => {
        res.render('work.html', { title: 'Work page', login: req.user });
    });
</code></pre>
                <p>
                    这里认证中间件<code>auth.check()</code>由OAuth2客户端库提供（它的调用返回一个满足express中间件调用模式的函数），被插入在页面返回处理中间件
                </p>
<pre><code>    (req, res) => {
        res.render('work.html', { title: 'Work page', login: req.user });
    };
</code></pre>
                <p>
                    之前（在这里<code>next</code>参数被忽略，原因是它是最后一个“中间件”）。在这里<code>auth.check</code>调用不含任何参数，表示没有访问控制意图。
                </p>
            </li>
            <li>
                <p>
                    <strong>Administration</strong>页：访问须要用户认证，但并非所有签入用户都可以访问。系统根据后台制定的规则，限制访问该页所需要的角色和端点。访问控制同样是通过在该页面相关路由规则中插入用户认证中间件来完成。
                </p>
<pre><code>    router.get('/admin', <span style="color:blue">auth.check('admin_page_acl')</span>, (req, res) => {
        <span style="text-decoration: line-through">userStore.getAccessControl('admin_page_acl').then((acl) => {</span>
            res.render('admin.html', { title: 'Administration page', acl: acl, login: req.user });
        <span style="text-decoration: line-through">});</span>
    });
</code></pre>
                <p>
                    注意这里<code>userStore.getAccessControl('admin_page_acl')</code>调用只是为了在用户数据库中获取用户访问控制表以便在相关页面中显示，在实际应用中是不必要的。这里认证中间件<code>auth.check('admin_page_acl')</code>的调用参数
                    <code>'admin_page_acl'</code>对应于用户数据库中访问控制表中的一组访问控制数据。在本原型应用中，用户数据库保存在位于<code>data</code>目录中的JSON格式的<code>database.json</code>文件中。该控制数据在数据库文件中的名称是
                    “access_controls”。其内容是：
                </p>
<pre><code>    "admin_page_acl": {
        "roles": [
            "administrators/system",
            "administrators/website"
        ],
        "endpoints": {
            "whitelist": [
                "df4d0d95-dc78-4d5a-8c87-63dddecdf6fe",
                "bbff89de-93f3-4480-b969-c8ca6779c601"
            ],
            "blacklist": []
        }
    }
</code></pre>
                <p>
                    表示只有拥有“roles”角色列表中的角色（之一或更多），并且使用被允许的端点时，该网页才可以被允许访问。允许访问端点由“endpoints”中的黑名单列表“blacklist”和白名单列表“whitelist”同时控制。黑名单列表具有优先权，即一个端点的标识如果在黑名单中，
                    则不管它是否在白名单中都是不允许访问的端点。关于“白名单”和“黑名单”设置与否时的详细逻辑可以在“OAuth2客户端库”（<code>lib</code> 目录下的 <code>1-net-oauth2.js</code> 文件）中的 <code>isEndpointAllowed</code> 函数中找到。乙方也可以使用自己定义的逻辑。                   
                    允许访问端点的标识则需根据具体测试要求在数据库的“endpoints”的白名单中添加，不允许的端点则应将其标识加入相应的黑名单中。允许访问的角色在“roles”添加，添加的角色由乙方系统定义。
                    相应账户所拥有的角色在“user_roles”表中添加，其中每个条目的键值都对应于某一网账户的标识，其内容是该账户所拥有的角色列表。例如
                </p>
<pre><code>    "user_roles": {
        "c86415a6-2cd9-4e62-8c27-b8e1dfe02802": [
            "administrators/system",
            "administrators/website"
        ]
    }
</code></pre>
                <p>
                    所提供的相应列表只起演示的作用，开发人员测试时应将它们替换为自己端点的标识。测试者如果希望使用某端点访问此页时，可采取以下步骤实现。首先用户使用该端点，在（一网）账户签入网站。
                    之后用户就可在首页上读取到相应的端点标识。使用一编辑器将从页面上读取的标识添加到“endpoints”白名单表中即可。管理员还可以使用编辑器在 <code>database.json</code> 文件中的“access_controls”添加具有任意标识（访问控制策略ID）的不同
                    访问控制策略条目，当需要使用它时，只要将此表识作为参数调用 <code>auth.check('...访问控制策略ID...')</code> 即可。在实际应用中，乙方的数据库系统须根据策略ID返回同样格式的访问控制策略数据。
                </p>
                <p>
                    如果不想限制访问端点，可在相应访问控制策略中删除“endpoints”白名单。如果不想使用角色限制访问，可在相应访问控制策略中删除“roles”白名单。注意这里删除指的并非是将其内容清空，而是不添加该条目。
                </p>
            </li>
        </ul>
    </li>
    <li>
        <h3>OAuth2客户端库</h3>
        <p>
            OAuth2客户端库依赖于应用系统所提供的配置信息和用户数据库系统，通过预设的接口获取设置和与乙方数据系统对接。这两种依赖都须在应用启动阶段注入。在当前的设计中，这些依赖的注入都必须在加载所有与认证有关的路由器之前。例如在
            本原型应用的启动文件 <code>app.js</code> 中：
        </p>
<pre><code>const _ = require('lodash'),
    express = require('express'),
    ...
    config = require('./config/config'),
    userStore = require(path.join(__dirname, 'lib/user-store')),
    oauth = require(path.join(__dirname, 'lib/1-net-oauth2'));
const app = express();
<span style="color: green">// 注入依赖 </span>
oauth.initialize(config.oauth, userStore);
<span style="color: green">// 加载路由器 </span>
const routes = require('./routes/index');
...
</code></pre>
        <p>注意在目前的库结构中，库德依赖注入必须在加载路由器之前。</p>
        <h3 class="header">配置格式</h3>
        <p>
            库使用的各类参数通过JSON格式的配置文件设置。此原型应用的有关配置文件是 <code>config</code> 目录中名为 <code>config.js</code> 的文件，起始时该文件并不存在，乙方应该自己创建它。
            该目录中已经有一个名为<code>sample-config.js</code>的样本设置文件，乙方可以借鉴它的格式结合自己的参数来建立初始的<code>config.js</code>。认证相关的配置全部包含在其中的 “oauth”节点中：
        </p>
<pre><code>    oauth: {
        debugMode: false,
        accessProtocol: 'http',
        accessPort: undefined,
        authKey: '...',
        viewType: 'browser',
        returnPath: '/external_signin',
        vnet: {
            clientId: '...',
            clientSecret: '...',
            scope: ['user', 'duration:3600'],
            endponts: {
                baseUrl: 'https://oauth2.api.yiwg.net',
                authorize: {
                    apiPathFmt: '/api/signin/{0}/authorize'
                },
                token: {
                    apiPath: '/api/signin/token'
                },
                user: {
                    apiPath: 'api/signin/user'
                }
            }
        }
    }
</code></pre>
        这里
        <ul>
            <li>
                <p>
                    <code>accessProtocol</code> 是乙方应用在公网入口上使用的HTTP协议，可选值为<code>http</code> 和 <code>https</code>。
                </p>
            </li>
            <li>
                <p>
                    <code>accessPort</code> 是乙方应用在公网上口上使用的端口，如果使用相应协议的标准端口，则见其值设为 <code>undefined</code> 或 <code>null</code>。
                </p>
            </li>
            <li>
                <p>
                    <code>authKey</code> 是一用户自设的随机密钥，用来对认证过程中网上来回传送的敏感数据进行加密。
                </p>
            </li>
            <li>
                <p>
                    <code>viewType</code> 是用来选择一网签入界面的，可选值是“browser”、“mobile”和“desktop”。
                </p>
            </li>
            <li>
                <p>
                    <code>returnPath</code> 是用户从一网认证完并取得授权码后一网将客户端重新定向到乙方的路径。在本原型应用中系统的路由（见 <code>routes/index.js</code>）已经包含处理函数：
                </p>
<pre><code>router.get(config.oauth.<span style="color: red">returnPath</span>, (req, res, next) => {
    auth.callback(req).then(result => {
        if (!result.ok) {
            next('login failed');
        }
        return auth.login(req, result).then(() => {
            res.redirect(result.returnTo);
        });
    }).catch(() => {
        next('login failed');
    }).done();
});
</code></pre>
                <p>
                    这里的处理函数首先调用了本库提供的标准接口之一： <code>callback</code> （见下）之后又调用了其 <code>login</code> 接口。
                </p>
            </li>
        </ul>
        <p>
          乙方须要在所涉设置中设置一个 <code>authKey</code>， 填入通过甲方获取的 <code>clientId</code>、<code>clientSecret</code> 以及 <code>endponts</code> 中的 <code>baseUrl</code> 后即可正常启动原型应用。
        </p>
        <h3 class="header">依赖接口</h3>
        <p>
            本认证库依赖于用户数据库系统提供的以下接口：
        </p>
        <ul>
            <li>
                <code>mapUser(req, authInfo)</code>：当使用用户授权令牌，成功从一网服务获取访问令牌（“access token”）和用户详细信息后，本库将这两部分数据打包在 <code>authInfo</code> 内并调用
                <code>mapUser(req, authInfo)</code>。乙方应根据自我的应用逻辑决定怎样使用该信息。
            </li>
            <li>
                <code>updateToken(req, token)</code>：当本库发现用户的访问令牌已经过期并成功刷新访问令牌后，将调用 <code>updateToken(req, token)</code>。这里的 <code>token</code> 是新获得的访问令牌。
                同样，怎样使用该信息是乙方自己的责任。
            </li>
            <li>
                <code>unmapUser(user)</code>：当用户成功签出后，本库将调用 <code>unmapUser(user)</code>。这里的 <code>user</code> 不但包含（一网）用户标识，还包含当前终端的标识。
            </li>
            <li>
                <code>getAccessControl(policyId)</code>：本库根据认证请求的策略ID（<code>policyId</code>），调用该接口来从乙方数据库得到相应的访问控制策略。
            </li>
        </ul>
        <h3 class="header">提供接口</h3>
        <p>
            本库提供与OAuth2有关的 <code>check</code>、<code>refresh</code> 和 <code>callback</code> 三个调用接口以及与用户签入和签出有关的 <code>login</code> 和 <code>logout</code> 两个调用接口。
        </p>
        <ul>
            <li>
                <p>
                    <code>check</code>：基于提供的一个可空的访问控制策略ID，返回 OAuth2 认证中间件。如果用户尚未签入，则启动 OAuth2 认证流程。如果访问控制策略ID为非空并且乙方提供了相应的策略，根据所得策略检查该访问是否可以放行。
                    对于可以放行的访问，检查相应的访问令牌是否过期。如果访问令牌已经过期，则首先尝试对令牌进行更新。
                </p>
            </li>
            <li>
                <p>
                    <code>refresh</code>：主动更新已有的访问令牌。
                </p>
            </li>
            <li>
                <p>
                    <code>callback</code>：在 OAuth2 认证流程中，当用户在一网认证完成并得到对乙方的授权令牌后（OAuth2 术语），用户的客户应用端应用携带该授权令牌回访设置好的（乙方服务的）“returnPath”，乙方系统接收访问后调用本库的 <code>callback</code>
                    接口进行下一步处理（获取访问令牌、获取用户详细信息，等）。
            </li>
            <li>
                <code>login</code>：如果用户OAuth2认证流程成功结束，乙方系统调用该接口来保存所得到的访问令牌并建立签入会话（session），以便用户不用每次访问都须要走认证流程。
            </li>
            <li>
                <code>logout</code>：签出已经建立的签入会话，并对已保存的签入状态信息进行更新。
            </li>
        </ul>
        <p>
            更加详细的信息在本库的源代码文件中可以找到。目前关于本库的源代码文件只有一个，它在 <code>lib</code> 目录下，名为 <code>1-net-oauth2.js</code>。
        </p>
        <h3 class="header">数据结构</h3>
        <p>
            用户成功认证后本库返回JSON格式的访问令牌和（一网）用户细节。乙方可以通过观察本原型应用的位于 <code>data</code> 目录中的 <code>database.json</code> 文件中的“user_auth_table”节点得到相关信息。
            该节点中的键值对应于签入账户的（一网）标识，其对应对象中的“user_details”则承载相应账户的细节信息，而“auth_tokens”对象则包含签入该账户的不同端点所得到的访问令牌。其中的系列键值就是该端点的标识，
            而其对应的内容就是访问令牌。
        </p>
        <p>
            “user_auth_table”节点在原型应用没有任何用户签入时是空的（这只是随意的设计，没有其他考量。乙方可根据自身的需求对签出用户在 <code>unmapUser(user)</code> 中处理。），因此要想得到相应的数据结构信息，
            至少须要在一个用户签入的情况下才行。
        </p>
    </li>
    <li>
        <h3>数据库原型</h3>
        <p>
            本原型应用使用JSON对象保存所有相关数据。该JSON对象使用文件系统进行持久化。相关的实现在 <code>lib</code> 目录下的 <code>user-store.js</code> 文件中可以找到。数据文件是 <code>data</code> 
            目录中的 <code>database.json</code>。开始时该文件并不存在，应用第一次运行时会创建一个几乎是空的文件（除了添加了一项对 <strong>Administration</strong> 页的访问控制项）。
            用户可以参考同目录中的 <code>sample-database.json</code> 的结构对其进行修改。
        </p>
        <p>
            用户可以通过通用文字编辑器实时修改该文件，例如添加或修改的访问策略、添加或修改用户的角色等，只要修改后的文件仍然是合法的JSON文档，结果可以立即体现出来，并不必重启应用。
        </p>
    </li>
</ol>